@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .img-repeat {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}

@keyframes fall {
  0% {
    transform: translateY(-10px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes burst {
  0% {
    transform-origin: bottom;
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: scale(1) rotate(var(--rotation));
    opacity: 0;
  }
}

.animate-fall {
  animation: fall linear forwards;
}

.animate-burst {
  animation: burst 1s ease-out forwards;
  --rotation: 0deg;
}